@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #c9ced3;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container
{
  width: 480px;
  height: 640px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 5px 30px 10px rgba(0, 0, 0, 0.4);
}
.title
{
  background-color: rgb(83, 125, 163);
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  width: 90%;
  text-align: center;
}
form{
  width: 90%;
}
.form-groups
{
  height: 65px;
}
label{
  position: relative;
  bottom: 3px;
}

input
{
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

input:valid
{
  border: 1px solid green;
}
input:invalid
{
  border: 1px solid red;
}

button
{
  color:#fff;
  background-color: rgb(49, 49, 49);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  /* padding: 18px 25px 18px 25px; */
  font-size: 18px;
  height: 50px;
  width: 100%;
  margin-top: 5px;

}
button:hover
{
  filter: brightness(120%);
}
button:focus
{
  outline: none;
}

.message-container
{
  border: 1px solid #000;
  border-radius: 5px;
  width: 90%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  color: black;

}