body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #748d74;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

input#search {
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    display: block;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dish-container {
    display: grid;
    grid-gap: 0px 20px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.recipe{
    text-align: center;
    background-color: #148848;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#recipe-list {
    display: flex;
    flex-wrap: wrap;
   
}

.recipe-card {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.recipe-title {
    font-weight: bold;
    font-size: 18px;
}

.recipe-description {
    font-size: 14px;
}

/* Responsive Media Queries */

@media (min-width: 1024px) {
    .dish-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    #recipe-list {
        flex-direction: column;
    }
    .dish-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .recipe-card {
        width: 90%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

    input#search {
        width: 100%;
    }

    .recipe-title {
        font-size: 16px;
    }

    .recipe-description {
        font-size: 12px;
    }
}
