@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Noto+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  background-color: #0ebac6;
}
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #26394e;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
}

/* .tips {
  background-color: #0ebac6;
  height: 36px;
  width: 115px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
} */

.navbar .navbar_list ul {
  display: flex;
}
.navbar .navbar_list ul li {
  text-transform: uppercase;
  margin: 0 10px;
  list-style: none;
}

.navbar .navbar_list ul li a {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  font-family: "Allura", cursive;
  text-decoration: none;
}
.navbar .navbar_list ul li activehome:active {
  color: #1a237e;
}

.navbar .navbar_list ul li a:hover {
  color: #0ebac6;
}
#showcase {
  background-image: linear-gradient(rgba(3, 3, 3, 0.5), rgba(2, 1, 1, 0.5)),
    url("https://img5.goodfon.com/wallpaper/nbig/d/6f/ruka-karta-puteshestviia-travel-ochki-mir-world.jpg");

  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#showcase h1 {
  font-size: 50px;
  line-height: 1.2;
  color: white;
}

#showcase p {
  font-size: 20px;
  color: #0ebac6;
}

#showcase .button {
  background: #26394e;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  border: #ffffff 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#showcase .button:hover {
  background: #26394e;
  color: #fff;
}

#section-a {
  padding: 20px;
  background: #0ebac6;
  color: #fff;
  text-align: center;
}

#section-b {
  padding: 20px;
  background: #f4f4f4;
  text-align: center;
}

#section-c {
  display: flex;
}

#section-c div {
  padding: 20px;
}

.section-e {
  margin-top: 10px;
}

#section-c .box-1,
#section-c .box-3 {
  background: #0ebac6;
  color: #fff;
}

#section-c .box-2 {
  background: #f9f9f9;
}

.row {
  display: flex;
  padding: 20px 20px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}
.card {
  margin-bottom: 70px;
  width: 20%;
  border: 2px solid #0ebac6;
  color: white;
}

.card-image {
  width: 100%;
}

.card-body > h3 {
  text-align: center;
}

.card-body > p {
  padding: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}

button {
  background-color: #000000;
  height: 28px;
  width: 100px;
  color: #fff;
  font-weight: bold;
  border-radius: 7px;
  outline: none;
  border: none;
}

p {
  font-family: "Noto Serif", serif;
}

h3 {
  font-family: "Inconsolata", monospace;
}

.about {
  height: 600px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.left {
  height: 500px;
  width: 30%;
  background-color: #26394e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
}

.right {
  height: 500px;
  width: 40%;
  background-color: #26394e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top-right-radius: 20px;
}

.right > h1 {
  color: white;
  font-size: 30px;
}

.right > p {
  color: #0ebac6;
}
#footer {
  height: 180px;
  width: 100%;
  background-color: #26394e;
  display: flex;
  flex-direction: column;
}

.inputtxt {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #0ebac6;
  justify-content: center;
  padding: 20px;
}

h3 {
  margin-left: 10px;
  color: white;
}

.inputtxt > input {
  margin-left: 10px;
  height: 30px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: #b3f9ff;
  color: black;
}

button {
  margin-left: 10px;
  height: 30px;
  width: 100px;
  border: none;
  outline: none;
  background-color: #26394e;
  color: white;
  border-radius: 10px;
}

#section-D {
  background-color: #26394e;
}
.socielmediaicons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.socielmediaicons > img {
  margin-left: 10px;
}
.copyrights {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyrights > p {
  color: white;
}
@media screen and (max-width: 1000px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 560px) {
  .card {
    width: 80%;
  }
}
