.dark {   
    background-color: rgb(44, 6, 6) !important;
    color: white !important;
}

.dark * {
    border-color: #fff !important;
}


.normal {
    width: 400;
    margin: auto;
}

.header {
    text-align: center;
}

.footer {
    font-size: 30px;
    font-family: monospace;
}
.my-4{
    font-size: 20px;
}

.score-label {
    min-width: 150px;
    display: inline-block;
}

#title {
    text-align: center;
    font-size: 36px;
    font-family: monospace;
    margin: 0;
    margin-bottom: 10px;
}

#main {
    margin: auto;
    display: block;
    border: 1px solid black;
}

#level {
    margin-top: 10px;
}

#middle-btn {
    top: 470px;
    position: absolute;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    display: none;
    left: 50%;
    transform: translate(-50%, 0%);
    user-select: none;
}