@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: rgb(62, 178, 194);
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  background-color: #f7f9fe;
  transition: background-color 200ms ease-in;
}

.text {
  color: rgb(59, 59, 59);
  transition: color 200ms ease-in;
}

.d-none {
  display: none;
}

.theme-toggler-container {
  position: absolute;
  width: 35px;
  right: 2rem;
}

.current-account {
  position: absolute;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 50px;
  border: 4px solid var(--blue);
  border-radius: 50%;
}

.current-account p {
  margin-left: 1rem;
  display: inline;
  font-weight: 600;
}

.current-account span {
  display: inline-block;
  color: rgb(105, 105, 105);
  font-size: 10px;
}

.theme-toggler-container img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.theme-toggle-dark {
  filter: invert(100%);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 3rem;
}

.total-followers {
  text-align: center;
}

.total-follower-count {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--blue);
}

/* SECTION ALL TIME STYLES */
.all-time {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.data-grid {
  width: 100%;
  padding-top: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.data {
  padding: 1rem 0;
  background-color: rgba(1, 1, 1, 0.1);
  /* height: 200px; */
  border-radius: 8px;
  transition: background-color 200ms ease-in;
}

.data-header {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtube:hover {
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0.6),
    rgba(255, 0, 0, 0.2)
  );
}

.facebook:hover {
  background-image: linear-gradient(
    to top,
    rgba(66, 103, 178, 0.6),
    rgba(66, 103, 178, 0.2)
  );
}

.twitter:hover {
  background-image: linear-gradient(
    to top,
    rgba(29, 161, 242, 0.6),
    rgba(29, 161, 242, 0.2)
  );
}

.instagram:hover {
  background-image: linear-gradient(
    to top,
    rgba(138, 58, 185, 0.6),
    rgba(217, 55, 129, 0.4),
    rgba(252, 204, 99, 0.4)
  );
}

.data-header img {
  width: 30px;
}

.data-header p {
  margin-left: 0.5rem;
}

.data-count {
  text-align: center;
  padding: 1rem 0;
}

.data-count span {
  font-size: 2rem;
  font-weight: 800;
  color: var(--blue);
}

.data-count p {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.data-today {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-today p {
  font-weight: 600;
}

.data-today img {
  width: 20px;
  margin-left: 0.5rem;
}

.body-dark {
  background-color: rgb(30, 25, 36);
}

.data-bg {
  background-color: rgba(255, 255, 255, 0.2);
}

.text-dark {
  color: rgb(247, 247, 247);
}
