- name: First interaction
        uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: 'Hello @${{ github.actor }} , thank you for submitting an issue!'
          pr-message: 'Hello @${{ github.actor }} , thank you submitting a pull request!'
